{% load static %}
{% load extras %}
<!-- JQuery -->
<script type="text/javascript" src="{{ STATIC_URL|concat_string:'/js/jquery-3.4.1.min.js' }}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{{ STATIC_URL|concat_string:'/js/popper.min.js' }}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{ STATIC_URL|concat_string:'/js/bootstrap.min.js' }}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{ STATIC_URL|concat_string:'/js/mdb.min.js' }}"></script>
  <script>
    // Animation init
    new WOW().init();

    $(function () {
      var selectedClass = "";
      $(".filter").click(function () {
        selectedClass = $(this).attr("data-rel");
        $("#gallery").fadeTo(100, 0.1);
        $("#gallery div").not("." + selectedClass).fadeOut().removeClass('animation');
        setTimeout(function () {
          $("." + selectedClass).fadeIn().addClass('animation');
          $("#gallery").fadeTo(300, 1);
        }, 300);
      });
    });
  </script>